<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="org.andaloo.plugins.email"
    version="1.0.1">

    <name>Andaloo Email Plugin</name>
	<license>MIT</license>
	
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	
    <!-- asset src="www/EmailComposer.js" target="js/EmailComposer.js" / -->

    <js-module src="www/EmailComposer.js" name="EmailComposer">
        <clobbers target="EmailComposer" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
                    
        <!-- Cordova 3+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="EmailComposer" value="EmailComposer"/>
        </config-file>

        <header-file src="src/ios/EmailComposer.h" />
        <source-file src="src/ios/EmailComposer.m" />
        <framework src="MessageUI.framework" />
    </platform>
</plugin>
